<form onsubmit="submitContact(); return false;" id="contact-form">
    <input type="hidden" name="check-nonce" value="{{ contact_verification_nonce }}">
    <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" autocomplete="name"/>
        <div class="small validation-help-text">Please enter your name.</div>
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" autocomplete="email"/>
        <div class="small validation-help-text">Please enter a valid email address.</div>
    </div>
    <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="4"></textarea>
        <div class="small validation-help-text">Please enter your message.</div>
    </div>
    <div class="actions row">
        <div class="6u">
            <label></label>
            <button type="submit">Send Message</button>
        </div>
        <div class="field 6u$">
            <label for="check">{{ contact_verification_number1 }} + {{ contact_verification_number2 }}
                = </label>
            <input type="text" title="Are You Human?" name="check"/>
            <div class="small validation-help-text">Please enter the sum of the numbers above.</div>
        </div>
    </div>
</form>
<div class="completed_message">
    <i class="fa fa-paper-plane fa-5x" aria-hidden="true"></i>
    <h3 class="message">Message Sent!</h3>
</div>