{% set page_classes = 'index' %}

{% embed "header.twig" %}
    {% block page_assets %}
    {% endblock %}
{% endembed %}

<!-- Header -->
{% include "design/module_header.twig" with {header_type: "alt"} %}

<!-- Menu -->
{% include "nav.twig" %}

<!-- Banner -->
{% embed "design/module_banner.twig" %}
    {% block logo %}
        <img class="icon" src="/assets/images/logo.png">
    {% endblock %}

    {% block head %}
        <h2>WhiteStar Systems</h2>
    {% endblock %}

    {% block sub %}
        <p>Tailored web solutions designed for today</p>
    {% endblock %}
{% endembed %}

<!-- Wrapper -->
<section id="wrapper">

    {% embed "design/module_spotlight.twig" with { style: "style1", id: "welcome" } %}
        {% block image %}
            <a href="#" class="image"><img src="/assets/images/welcome_nexus.png" alt="Welcome Demo"/></a>
        {% endblock %}

        {% block content %}
            <h2 class="major">Welcome</h2>
            <p>Track visitors and their primary objective for their visit to your office,
                co-working space, workshop, or other open space. After their visit, poll
                guests with tailored survey implements to allow for continuous improvement
                or your space and/or services. Welcome also allows for tracking of hourly
                employees, like you might find at a University Space.</p>
            <a href="/welcome" class="special">Learn more</a>
        {% endblock %}
    {% endembed %}

    {% embed "design/module_spotlight.twig" with { style: "alt style2", id: "msmon" } %}
        {% block image %}
            <a href="#" class="image"><img src="/assets/images/ms-mon.png" alt="Mediasite Demo"/></a>
        {% endblock %}

        {% block content %}
            <h2 class="major">Mediasite<sup>&reg;</sup> Recorder Monitor</h2>
            <p>Monitor your fleet of Mediasite Recorders to ensure maximum up-time and reliability.
                Configurable to send emails to your team, or use the modular plugin style architecture
                to integrate with your existing issue tracking system.</p>
            <a href="/ms-mon" class="special">Learn more</a>
        {% endblock %}
    {% endembed %}

    {% embed "design/module_spotlight.twig" with { style: "style3", id: "vims" } %}
        {% block image %}
            <a href="#" class="image"><img src="/assets/images/video-inv.png" alt="Video Inventory Demo"/></a>
        {% endblock %}

        {% block content %}
            <h2 class="major">Inventory Management</h2>
            <p>Keep track of who is using your equipment, and make sure that items come back in good condition.
                Generate reports based on what items are frequently in use, as well as printable transaction
                records for auditing and bookkeeping.</p>
            <a href="/inventory" class="special">Learn more</a>
        {% endblock %}
    {% endembed %}
</section>

<!-- Footer -->
{% embed "design/module_footer.twig" %}
    {% block content %}
        <h2 class="major">Get in touch</h2>
        <p>We would love to hear from you! Want to know more about one of our products, schedule a demo, or are
            interested in a custom build solution? Use the form below to drop us a line, and we will get back to you
            as soon as possible (usually within one business day). </p>
        {% include "contact_form.twig" %}
        <ul class="contact">
            <li class="fa-envelope"><a href="mailto:info@whitestar.systems">info@whitestar.systems</a></li>
            <li class="fa-github"><a href="https://github.com/ws-systems" target="_blank">@ws-systems</a></li>
        </ul>
    {% endblock %}
{% endembed %}

{% include "footer.twig" %}