sup.small {
  font-size: 0.6rem;
  vertical-align: text-top;
}

#wrapper > header {
  @include breakpoint(xlarge) {
    @include padding(9em, 0, (0, 0, _size(wrapper-edges, xlarge) * 0.5, 0));
    background-image: linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)), url('../../assets/images/bg.jpg');
    margin-bottom: (_size(wrapper-edges, xlarge) * -1);
  }

  @include breakpoint(large) {
    @include padding(7em, 0, (0, 0, _size(wrapper-edges, large) * 0.5, 0));
    margin-bottom: (_size(wrapper-edges, large) * -1);
  }

  background-color: _palette(bg);
  background-image: linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)), url('../../assets/images/bg.jpg');

  background-size: 100% auto;
  background-position: center, center;
  background-repeat: no-repeat;
}

.product.welcome {
  #wrapper > header {
    background-image: linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)), url('../../assets/images/welcome-product-bg.jpg');
  }
}

.product.ms-mon {
  #wrapper > header {
    background-image: linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)), url('../../assets/images/ms-mon-product-bg.jpg');
  }
}

.product.video-inv {
  #wrapper > header {
    background-image: linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)), url('../../assets/images/video-inv-product-bg.jpg');
  }
}

.index {
  #banner {
    background-image: linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)), url('../../assets/images/index-bg.jpg');
    background-size: 100% auto;
    background-position: center, center;
    background-repeat: no-repeat;
    margin-bottom: -6.5em;
  }
}

#footer {
  .inner {
    .completed_message {
      display: none;
      text-align: center;

      padding: 1em 0;

      .fa {
        color: _palette(fg-bold);
      }

      .message {
        padding-top: 1.5rem;
      }
    }
  }
}