<section id="footer">
    <div class="inner">
        {% block content %}{% endblock %}
        <ul class="copyright">
            <li>&copy; WhiteStar Systems. All rights reserved.</li>
            <li><a href="https://status.whitestar.systems" target="_blank">Service Status</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>