<section id="banner">
    <div class="inner">
        <div class="logo">{% block logo %}{% endblock %}</div>
        {% block head %}{% endblock %}
        {% block sub %}{% endblock %}
    </div>
</section>