<article>
    <a href="#" class="image">{% block header_image %}<img src="images/pic04.jpg" alt=""/>{% endembed %}</a>
    <h3 class="major">{% block title %}Sed feugiat lorem<{% endblock %}/h3>
    {% block body %}<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus
        ultrices.</p> {% endblock %}
    <a href="{% block read_more_link %}#{% endblock %}" class="special">{% block read_more_text %}Learn more{% endblock %}</a>
</article>