<header>
    <div class="inner">
        <h2>{% block head %}Generic{% endblock %}</h2>
        <p>{% block sub %}Phasellus non pulvinar erat. Fusce tincidunt nisl eget ipsum.{% endblock %}</p>
    </div>
</header>