<section id="{{ id }}" class="wrapper spotlight {{ style }}">
    <div class="inner">
        {% block image %}{% endblock %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>