<section id="footer">
    <div class="inner">
        {% block content %}{% endblock %}
        <ul class="copyright">
            <li>&copy; WhiteStar Systems. All rights reserved.</li>
            <li><a href="https://status.whitestar.systems" target="_blank">Service Status</a></li>
            <li><a href="https://s.whitestar.systems/tos.html" target="_blank">Terms of Service</a></li>
            <li><a href="https://s.whitestar.systems/privacy.html" target="_blank">Privacy Policy</a></li>
        </ul>
    </div>
</section>