/* line 1, ../sass/error.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/error.sass */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/* line 14, ../sass/error.sass */
article, aside, details, figcaption, figure, footer, header, nav, section {
  display: block;
}

/* line 17, ../sass/error.sass */
html {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 27, ../sass/error.sass */
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 34, ../sass/error.sass */
body {
  min-height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 38, ../sass/error.sass */
.clearfix {
  clear: both;
  zoom: 1;
}
/* line 42, ../sass/error.sass */
.clearfix:before {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 48, ../sass/error.sass */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* line 55, ../sass/error.sass */
.plain.error-page-wrapper {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #6355bc;
  padding: 0 5%;
  position: relative;
}
/* line 61, ../sass/error.sass */
.plain.error-page-wrapper .content-container {
  -webkit-transition: left 0.5s ease-out, opacity 0.5s ease-out;
  -moz-transition: left 0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: left 0.5s ease-out, opacity 0.5s ease-out;
  transition: left 0.5s ease-out, opacity 0.5s ease-out;
  position: relative;
  left: -30px;
  opacity: 0;
}
/* line 70, ../sass/error.sass */
.plain.error-page-wrapper .content-container.in {
  left: 0;
  opacity: 1;
}
/* line 74, ../sass/error.sass */
.plain.error-page-wrapper .head-line {
  transition: color 0.2s linear;
  font-size: 48px;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.2);
  letter-spacing: -1px;
  margin-bottom: 5px;
}
/* line 82, ../sass/error.sass */
.plain.error-page-wrapper .subheader {
  transition: color 0.2s linear;
  font-size: 36px;
  line-height: 46px;
  color: #fff;
}
/* line 88, ../sass/error.sass */
.plain.error-page-wrapper hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  width: 250px;
  margin: 35px 0;
}
/* line 95, ../sass/error.sass */
.plain.error-page-wrapper .context {
  transition: color 0.2s linear;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
/* line 101, ../sass/error.sass */
.plain.error-page-wrapper .context p {
  margin: 0;
}
/* line 104, ../sass/error.sass */
.plain.error-page-wrapper .context p:nth-child(n+2) {
  margin-top: 12px;
}
/* line 107, ../sass/error.sass */
.plain.error-page-wrapper .buttons-container {
  margin-top: 45px;
  overflow: hidden;
}
/* line 111, ../sass/error.sass */
.plain.error-page-wrapper .buttons-container a {
  transition: color 0.2s linear, border-color 0.2s linear;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 2px solid white;
  border-radius: 99px;
  padding: 8px 30px 9px;
  display: inline-block;
  float: left;
}
/* line 123, ../sass/error.sass */
.plain.error-page-wrapper .buttons-container a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
/* line 126, ../sass/error.sass */
.plain.error-page-wrapper .buttons-container a:first-child {
  margin-right: 25px;
}

@media screen and (max-width: 485px) {
  /* line 131, ../sass/error.sass */
  .plain.error-page-wrapper .header {
    font-size: 36px;
  }
  /* line 134, ../sass/error.sass */
  .plain.error-page-wrapper .subheader {
    font-size: 27px;
    line-height: 38px;
  }
  /* line 138, ../sass/error.sass */
  .plain.error-page-wrapper hr {
    width: 185px;
    margin: 25px 0;
  }
  /* line 142, ../sass/error.sass */
  .plain.error-page-wrapper .context {
    font-size: 16px;
    line-height: 24px;
  }
  /* line 146, ../sass/error.sass */
  .plain.error-page-wrapper .buttons-container {
    margin-top: 35px;
  }
  /* line 149, ../sass/error.sass */
  .plain.error-page-wrapper .buttons-container a {
    font-size: 13px;
    padding: 8px 0 7px;
    width: 45%;
    text-align: center;
  }
  /* line 155, ../sass/error.sass */
  .plain.error-page-wrapper .buttons-container a:first-child {
    margin-right: 10%;
  }
}
/* Page Colors */
/* line 160, ../sass/error.sass */
.background-color {
  background-color: #fffcec !important;
}

/* line 163, ../sass/error.sass */
.primary-text-color {
  color: #444444 !important;
}

/* line 166, ../sass/error.sass */
.secondary-text-color {
  color: #e07700 !important;
}

/* line 169, ../sass/error.sass */
.sign-text-color {
  color: #FFBA00 !important;
}

/* line 172, ../sass/error.sass */
.sign-frame-color {
  color: #343C3F;
}

/* line 175, ../sass/error.sass */
.pane {
  background-color: #FFFFFF !important;
}

/* line 178, ../sass/error.sass */
.border-button {
  color: #222222 !important;
  border-color: #222222 !important;
}

/* line 182, ../sass/error.sass */
.button {
  background-color: #222222 !important;
  color: #FFFFFF !important;
}

/* line 186, ../sass/error.sass */
.shadow {
  box-shadow: 0 0 60px #000000;
}

/* line 189, ../sass/error.sass */
#stacktrace {
  padding-top: 1.25rem;
}
